body{
		background-color: #FFDAC1;
	}
	.card {
		background-color: #FEC49C;
  		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  		width: 20%;
  		margin-top: 200px;
  		
	}
	.card img{
  		border-radius: 50%;
  		width: 80%;
  		
	}

	.card:hover {
  		box-shadow: 0 8px 300px 0 rgba(0,0,0,0.2);
	}

	.container {
  		padding: 2px 16px;
  		font-family: 'Amatic SC', cursive;
  		font-size: 25px;
	}