*{
	font-size: 16px;
	font-family: 'Merriweather Sans', sans-serif;
	text-align: center;
   }

body{
	background: #ffd89b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
		
}
.content {
  	display: block;
  	border:  solid;
  	width: 740px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto; 
}